<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户列表</title>

    <!-- Bootstrap Core CSS -->
    <link href="/templates/public/css/bootstrap.min.css" rel="stylesheet">
    <link href="/templates/public/css/bootstrap-dialog/bootstrap-dialog.min.css">

    <!-- Custom CSS -->
    <link href="/templates/private/css/left/simple-sidebar.css" rel="stylesheet">
    <link href="/templates/private/css/left/align.css" rel="stylesheet">
    <link href="/templates/private/css/pages/file_list_page.css" rel="stylesheet">

    <!-- Bootstrap Core JS -->
    <script src="/templates/public/js/jquery.js"></script>
    <script src="/templates/public/js/jquery.cookie.js"></script>
    <script src="/templates/public/js/bootstrap.min.js"></script>
    <script src="/templates/public/js/bootstrap-select/bootstrap-select.js"></script>
    <script src="/templates/public/js/bootstrap-dialog/bootstrap-dialog.min.js"></script>
</head>
<body>

<div id="wrapper" class="{{ .WrapperClass}}">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <span style="float: left;">
                    <a href="#">
                        <span class="glyphicon glyphicon-menu-hamburger side-bar-hidden" style="display: inline"
                              aria-hidden="true">
                        </span>
                    </a>
                </span>
                <span style="float: right">
                    <a href="#">
                        <span id="lock-side-bar" class="glyphicon {{ .PinLock}}" style="margin-right: 20px"
                              aria-hidden="true">
                        </span>
                    </a>
                </span>
            </li>
        {{if .UserRight}}
            <li id="user_list_menu" class="side-bar-condition-hidden side-bar-menu chosen-menu">
                <a href="#">用户管理</a>
            </li>
        {{end}}
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a id="expand-side-bar" class="navbar-brand side-bar-show {{ .HiddenClass}}" href="#">
                    <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                </a>
                <span class="navbar-brand">用户管理</span>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">{{ .LoginName}}<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/user_logout">退出</a></li>
                        </ul>
                    </li>
                </ul>

                <form class="navbar-form navbar-right" style="width: 400px">
                    <div class="form-group" style="width: 80%">
                        <input id="search_user_email" type="text" class="form-control" placeholder="搜索账号"
                               style="width: 100%">
                    </div>
                    <button id="search_user_name_btn" type="button" class="btn btn-default">搜索</button>
                </form>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <table id="user_list_result" class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th style="text-align:center" width="20"><input id="check_all" type="checkbox" value=""></th>
                            <th style="text-align:center">ID</th>
                            <th style="text-align:center">账号</th>
                            <th style="text-align:center">用户管理</th>
                            <th style="text-align:center">添加日期</th>
                            <th style="text-align:center">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <button id="add_user_button" type="button" class="btn btn-primary">增加</button>
                        <button id="del_user_button" type="button" class="btn btn-primary">删除</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <div style="text-align: right">
                            <span id="data_count_tip" style="margin-right: 15px;"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <div style="text-align: right">
                            <ul id="page_partition_id" class="pagination"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
</div>

<script src="/templates/public/js/pages/public.js"></script>
<script src="/templates/private/js/pages/toggle_sidebar.js"></script>
<script src="/templates/private/js/pages/page_partition.js"></script>
<script src="/templates/private/js/pages/list_user.js"></script>
</body>
</html>