.side-bar-hidden {

}

.side-bar-condition-hidden {

}

.side-bar-show {

}

.side-bar-toggle {

}

.hidden-self {
    visibility: hidden;
}

.no-display {
    display: none;
}

.chosen-menu {
    background: rgba(255, 255, 255, 0.2)
}

.side-bar-menu {

}

.black-tool-tip {

}
